body{
  background-image: url(../src/assets/gradient.jpg);
  background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed
}
button{
  margin-bottom: 20px;
  width: 100px;
  height: 30px;
  border-radius: 4px;
  margin: 10px;
  background-color: #7ba1b86e;
  border: 1px solid #bd849f;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  &:hover{
    background-color: #f3e7ed;
    color: #5a9ac2;
  }
}
.App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.c-btn{
    display: flex;
  }

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

